.userDetail{
    background: #FFFFFF;
    border: 1px solid rgba(98, 98, 98, 0.2);
    box-shadow: 0px 10px 24px rgba(57, 57, 57, 0.08);
    border-radius: 10px;
    padding: 30px;
    margin: 80px;
}
.user_heading{
    display: flex;
}
.title{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    flex:1;
}
.detail{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}
.value{
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    margin-left: 20px;
}
.remove_margin{
    margin: 0 !important;
}